.container-orders{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content:end;
    width: 70%;
}
.container-orders__btn-active{
    background-color: green;
    cursor: pointer;
}
.container-orders__btn{
    background-color: whitesmoke;
    cursor: pointer;
}